.history{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.img_history img{
    width: 859px;
    height: 859px;
}
.text_history{
    width: 665px;
    height: 586px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comand_container img{
    width: 100%;
    height: 694px;
}
.styledtext1{
    font-size: 32px;
    font-weight: 600;
}
.styledtext2{
    font-size: 20px;
}