@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
nav{
    width: 1235px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    bottom: 40px;
    font-family: "Montserrat", sans-serif;
}
.logo{
    background-color: #F5FAFF;
    width: 264px;
    height: 264px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 30);
    z-index: 1;
}
.logo img{
    width: 290px;
    height: 120px;
    position: relative;
    top: 10px;
}
.center_nav{
    width: 790px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.links{
    width: 880px;
    height: 52px;
    border-radius: 190px;
    background-color: #F5FAFF;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 30);
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    right: 130px;
    top: 20px;
}
.main_links{
    width: 760px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main_links a{
    text-decoration: none;
    color: #020202;
}
.languages_container{
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 60px;
    align-items: center;
    position: relative;
    top: 30px;
    left: 50px;
}
.number_container{
    width: 280px;
    height: 52px;
    background-color: #F5FAFF;
    border-radius: 190px;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 30);
    position: relative;
    bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number_container p{
    color: #64D370;
    font-weight: 700;
}
.languages_container button{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #F5FAFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.main_links a:hover{
    color: #64D370;
}
.languages_container button:hover{
    background-color: #64D370;
    color: white;
}